@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');
@import url('https://fonts.googleapis.com/css?family=Libertinus+Mono');

/*  As cores (do mais escuro para o mais claro):
#09474a - Meio azul
#71aa35 - Verde musgo
#3dbf8c - Quase azul
#caff23 - Verde Look Back
#b7e1cd - A Cor Pálida
*/


html {
    box-sizing: border-box;
    margin: auto;
    font-family: 'Comfortaa', 'Arial', Courier, monospace;
    width: fit-content;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    transition: all 0.5s ease;
}

.titulo {
    font-size: clamp(2.8rem, 3vw, 5.5rem);
    font-family: 'Libertinus Mono', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 0px 20px 0px 20px;
}

p {
    font-size: clamp(1.6rem, 1.75vw, 2.2rem);

    text-align: left;
    line-height: 20px;
}


ul {
    list-style: none;
    line-height: 2em;
}

.borda {
    border: 2px solid #3dbf8c;
    border-radius: 2px;
}

.subtitulo {
    font-size: clamp(2.25rem, 2.5vw, 4rem);
    font-family: 'Libertinus Mono', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 0px 20px 0px 20px;
}

.sobre {
    margin: 30px 0px;
    cursor: pointer;
}

.highlight {
    transition: all 1s ease;
}

.highlight:hover /*.ModoClaro*/{
    color: #3dbf8c;
    text-shadow:
    2px 0px 2px #09474a,
    -2px 0px 2px #09474a,
    0px 2px 2px #09474a,
    0px -2px 2px #09474a;
    transition: all 0.3s ease;
}


.highlight:hover .ModoEscuro{
    color: #3dbf8c;
    text-shadow:
    2px 0px 2px #b7e1cd,
    -2px 0px 2px #b7e1cd,
    0px 2px 2px #b7e1cd,
    0px -2px 2px #b7e1cd;
    transition: all 0.3s ease;
}


.Esconde {
    display: none;
}

.Mostra {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.75s ease;
}

a:hover { 
    
    font-size: 1.2em;
    transition: all 0.2s ease;
}


.BrancoEscuro {
    top: 3vh;
    right: 3vw;
    position: fixed;
    z-index: 1;

    cursor: pointer;

    font-size: clamp(2rem, 5vw, 3rem);


    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #3dbf8c;
    border: 3px solid black;
    border-radius: 20px;

    padding: clamp(1.6rem, 1.75vw, 2rem);
}

.ModoClaro {
    background-color: #b7e1cd;
    color: #09474a;
}

.ModoEscuro {
    background-color: #09474a;
    color: #b7e1cd;
}